In [2]:
import pandas as pd
import numpy as np
import os
import datetime as dt
import calendar
from matplotlib import pyplot as plt
import scipy.stats as stats
import glob


from mpl_toolkits.mplot3d import Axes3D  #3Dplot
import seaborn as sns
import japanize_matplotlib

In [34]:
df_stop =pd.read_csv('../../../卒論関連書類/データ/抽出＿分析データ/電源停止合算/電源停止合算2.csv')


# 時間だけKingから持ってくる
files = glob.glob('../../../卒論関連書類/データ/king_history/king_history1/*')
version = len(files)-2
df_king =pd.read_csv(f'../../../卒論関連書類/データ/king_history/king_history1/king{version}.csv',converters={'DateTime':pd.to_datetime})

In [36]:
df_stop.columns

Index(['Unnamed: 0', 'DateTime', '認可出力合計(kW)', '低下量合計(kW)', '停止・低下ユニット数合計'], dtype='object')

In [37]:
df_stop['DateTime'] = pd.to_datetime(df_stop['DateTime'])
df_stop = df_stop.drop(columns='Unnamed: 0')


df_king =pd.merge(df_king,df_stop,on='DateTime',how='outer')

files = glob.glob('../../卒論関連書類/データ/king_history/king_history1/*')
version = len(files)
# df_king.to_csv(f'../../../卒論関連書類/データ/king_history/king_history1/king{version}.csv',index=False)

In [ ]:
# df_king.to_csv('')

In [39]:
files = glob.glob('../../../卒論関連書類/データ/king_history/king_history1/*')
version = len(files)
df_king.to_csv(f'../../../卒論関連書類/データ/king_history/king_history1/king{version}.csv',index=False)

In [38]:
df_king

,DateTime,intra_price(円/kWh),spot_price(円/kWh),gap_price[intra-spot](円/kWh),intra_volume（MWh/h）,spot_volume(kWh),北電太陽光想定(MW),北電風力想定(MW),北電太陽光実績(MW),北電風力実績(MW),...,東京予備率(%),中部予備率(%),北陸予備率(%),関西予備率(%),中国予備率(%),四国予備率(%),九州予備率(%),認可出力合計(kW),低下量合計(kW),停止・低下ユニット数合計
0,2018-04-01 00:00:00,7.62,7.30,0.32,58.8,6098500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88445020.0,88445020.0,177.0
1,2018-04-01 00:30:00,7.52,6.93,0.59,54.0,6225500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55206600.0,55206600.0,98.0
2,2018-04-01 01:00:00,7.50,6.78,0.72,57.3,6356500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55206600.0,55206600.0,98.0
3,2018-04-01 01:30:00,7.56,6.84,0.72,63.0,6439500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55206600.0,55206600.0,98.0
4,2018-04-01 02:00:00,6.89,6.92,-0.03,61.6,6439000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55206600.0,55206600.0,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83902,2023-01-05 21:30:00,NaN,21.29,NaN,NaN,22544600,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124166830.0,114507230.0,293.0
83903,2023-01-05 22:00:00,NaN,21.86,NaN,NaN,22180900,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153219770.0,148365820.0,387.0
83904,2023-01-05 22:30:00,NaN,21.86,NaN,NaN,22143700,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128895980.0,119756777.0,301.0
83905,2023-01-05 23:00:00,NaN,21.74,NaN,NaN,22054200,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117378280.0,108640230.0,280.0
83906,2023-01-05 23:30:00,NaN,19.00,NaN,NaN,20802700,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85001610.0,76263560.0,179.0

In [15]:
df_stop['DateTime'] = pd.to_datetime(df_stop['DateTime'])
df_stop = df_stop.drop(columns='Unnamed: 0')

In [12]:
df_stop

       Unnamed: 0            DateTime       認可出力合計        低下量合計  停止・低下ユニット数合計
0               0 2018-04-01 00:00:00   88445020.0   88445020.0         177.0
1               1 2018-04-01 00:30:00   55206600.0   55206600.0          98.0
2               2 2018-04-01 01:00:00   55206600.0   55206600.0          98.0
3               3 2018-04-01 01:30:00   55206600.0   55206600.0          98.0
4               4 2018-04-01 02:00:00   55206600.0   55206600.0          98.0
...           ...                 ...          ...          ...           ...
83672       83672 2023-01-05 21:30:00  124166830.0  114507230.0         293.0
83673       83673 2023-01-05 22:00:00  153219770.0  148365820.0         387.0
83674       83674 2023-01-05 22:30:00  128895980.0  119756777.0         301.0
83675       83675 2023-01-05 23:00:00  117378280.0  108640230.0         280.0
83676       83676 2023-01-05 23:30:00   85001610.0   76263560.0         179.0

[83677 rows x 5 columns]

In [27]:
df_king

,DateTime,intra_price(円/kWh),spot_price(円/kWh),gap_price[intra-spot](円/kWh),intra_volume（MWh/h）,spot_volume(kWh),北電太陽光想定(MW),北電風力想定(MW),北電太陽光実績(MW),北電風力実績(MW),...,東京予備率(%),中部予備率(%),北陸予備率(%),関西予備率(%),中国予備率(%),四国予備率(%),九州予備率(%),認可出力合計,低下量合計,停止・低下ユニット数合計
0,2018-04-01 00:00:00,7.62,7.30,0.32,58.8,6098500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88445020.0,88445020.0,177.0
1,2018-04-01 00:30:00,7.52,6.93,0.59,54.0,6225500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55206600.0,55206600.0,98.0
2,2018-04-01 01:00:00,7.50,6.78,0.72,57.3,6356500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55206600.0,55206600.0,98.0
3,2018-04-01 01:30:00,7.56,6.84,0.72,63.0,6439500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55206600.0,55206600.0,98.0
4,2018-04-01 02:00:00,6.89,6.92,-0.03,61.6,6439000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55206600.0,55206600.0,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83902,2023-01-05 21:30:00,NaN,21.29,NaN,NaN,22544600,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124166830.0,114507230.0,293.0
83903,2023-01-05 22:00:00,NaN,21.86,NaN,NaN,22180900,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153219770.0,148365820.0,387.0
83904,2023-01-05 22:30:00,NaN,21.86,NaN,NaN,22143700,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128895980.0,119756777.0,301.0
83905,2023-01-05 23:00:00,NaN,21.74,NaN,NaN,22054200,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117378280.0,108640230.0,280.0
83906,2023-01-05 23:30:00,NaN,19.00,NaN,NaN,20802700,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85001610.0,76263560.0,179.0